@import url(cabeçalho.css);
@import url(serviço.css);
@import url(selecionar.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'BrownSugar';
    src: url(../../CONTEUDO/Brown\ Sugar\ .ttf);
    font-weight: normal;
}

.tudo{
    max-width: 1200px;
    margin: auto;
}