.banner{
    width: 1200px;
    height: 80vh;
    background-image: url(../../CONTEUDO/imagemsalao1real_resized.jpg);
    position: static;
    background-position-y: -90px;  
    background-repeat: no-repeat;  
}

.banner h1{
    position: absolute;
    font-size: 80px;
    top: 40vh;
    left: 50%;
    margin-left: -389px;
    color: white;
    font-family: 'Montserrat';
}

@media(max-width: 760px){
    .banner{
        width: 900px;
    }
    .banner h1{
        width: 300px;
        margin: auto;
    }
}