.curso h1{
    font-size: 35px;
    font-family: "Montserrat";
    margin-left: 80px;
    margin: 80px;
    color: #bb6363;
    text-align: center;
    max-width: 1200px;
}

.curso img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
}



.pedro{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.imagemsalao4
{
    width: 100%!important;
    height: 978px!important;
    border-radius: 20px;
}

@media(max-width: 760px){
    .curso h1{
        width: 100% ;
        margin-left: 0;
        margin: auto;
        align-items: center;
    }
    .curso{ 
        margin-top: 30px;
        width: 100%;
    }
    .imagemgrande{
        display: none;
    }
    .aside{
        width: 80%;
        margin: auto;
    }

}   