.curso h1{
    font-size: 35px;
    font-family: "Montserrat";
    margin-left: 80px;
    margin: 80px;
    color: #bb6363;
    text-align: center;
}

.curso img{
    width: 600px;
    height: 400px;
    border-radius: 20px;
}



.pedro{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.imagemsalao4
{
    width: 100%!important;
    height: 978px!important;
    border-radius: 20px;
}