.histudo{
    padding-top: 120px; 
    width: 1200px;
}

.font{
    font-size: 80px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    color: #BB6363;
    font-family: "Montserrat";
}

.fase{
    font-size: 50px;
    color: #BB6363;
    font-family: "Montserrat";
}

.texto1{
    font-size: larger;
    padding: 20px;
    text-align: justify;
    font-family: "Montserrat";
}

.texto2{
    font-size: larger;
    padding: 20px;
    text-align: justify;
    font-family: "Montserrat";  
}
.imgSbrDiv, .imgSbr{
    width: 500px;
    height: 600px;
    border-radius: 20px;
}

.historia{
    display: flex;
}

@media(max-width: 760px){
    .histudo{
        width: 100%;

    }
    .historia{
        flex-direction: column-reverse;
    }
    .imgSbrDiv{
        margin: auto;
        width: 80%;
    }
    .imgSbr{
        width: 100%;
        height: 500px;
        margin: auto;
    }
    .fase{
        text-align: center;
    }
}