*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.section-header{
    text-align: center;
    margin-bottom: 50px;
}

.section-header .title{
    font-size: 50px;
    font-weight: 600;
    text-transform: capitalize;
    color: #bb6363;
    line-height: 1.2;
}

.testimonials{
    padding: 100px 0;
}

.testimonials-item{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 30px;
    margin: 20px;
    border: 1px solid #bb6363;
    width: 800px;
}

.bloco{
   display: flex;
}

.testimonials-item .info{
    display: flex;
    align-items: center;
}

.testimonials-item img{
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.testimonials-item .name{
    font-size: 24px;
    text-transform: capitalize ;
    font-weight: 600;
    color: hsl(0, 58%, 26%);
    line-height: 1.2;
}

.testimonials-item .job{
    text-transform: capitalize;
    color: hsl(0, 16%, 18%);
}

.testimonials-item p{
    margin-top: 20px;
    color: hsl(0, 0%, 0%);
}

.testimonials-item .rating{
    margin-top: 15px;
    font-size: 14px;
    color: hsl(36, 88%, 66%);
}

@media(max-width: 760px) {
    .testimonials-item{
        width: 100%;
        margin: 0;
        margin-bottom: 2rem;
}

