.info{
    display: flex;
    margin-top: 30px;
    width: 900px;
    margin: 1rem auto;
    font-family: Montserrat;
}
.info h3{
    font-size: 50px;
    color: #BB6363;
}
.info p{
    width: 500px;
    margin: 10px;
    font-size: larger;
}
.card{
    width: 400px;
    height: 300px;
    background-image: url(../../CONTEUDO/WhatsApp\ Image\ 2024-06-19\ at\ 10.41.25.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
    border-radius: 10px;
}

.info button{
    background-color: #BB6363;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    color: white;
    

}
.info button:hover{
    background-color: #f5b6b9;
    cursor: pointer;
    scale: 1.1;
}
.info a{
    text-decoration: none;
}

/* SERVIÇOS */

.serviços{
    display: flex;
    margin-top: 30px;
    width: 900px;
    margin: 1rem auto;
    font-family: Montserrat;
}

.serviços h3{
    font-size: 50px;
    color: #BB6363;
}
.serviços p{
    width: 500px;
    margin: 10px;
    font-size: larger;
}

.serviços button{
    background-color: #BB6363;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    color: white;
}
.serviços button:hover{
    background-color: #f5b6b9;
    cursor: pointer;
    scale: 1.1;
}

.serviços a{
    text-decoration: none;
}
.card2{
    width: 400px;
    height: 300px;
    background-image: url(../../CONTEUDO/Serviçosindex.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -60px;
    border-radius: 10px;
}

@media(max-width: 760px){
    .info, .serviços{
        width: 100%;
        flex-direction: column-reverse;
    }
    .info p, .serviços p{
        width: 100%;
        padding: 1rem;
    }
    #texto1, #texto2{
        width: 100%;
        padding: 10px;
    }
    .card, .card2{
        margin: auto;
    }
    .serviços h3, .info h3{
        text-align: center;
    }

    .serviços button, .info button{
        width: 100%;
        font-size: 30px;
    }

}