.conteudo{
    font-family: 'Montserrat';
    text-align: center;
    position: absolute;
    font-size: 50px;
    margin-left: -240px;
    left: 50%;
}

.mapa{
    margin-top: 30px;
}

.conteudo h3{
    margin-top: 10px;
    margin-bottom: 0px;
    color: #BB6363;
    background-color: rgba(255, 255, 255, 0.795);
    border-radius: 10px;
}
.conteudo button {
    background-color: #BB6363;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    width: 250px;
  }
  
.conteudo button {
    background-color: #BB6363; 
    color: white; 
    border: 2px solid #BB6363;
}

.conteudo button:hover {
    background-color: #fff;
    color: #BB6363;
  }

@media(max-width: 760px){
    .mapa iframe{
        width: 100%;
    }
    .conteudo button{
        display: none;
    }
}