.formulario{
    width: fit-content;
    padding-top: 120px;
    margin: auto;
}

.caixasinput{
    display: flex;
    flex-direction: column;
}

.formulario h2{
    font-size: 80px;
    color: #BB6363;
    margin: 2px auto;
}

.caixasinput label, .caixasinput input{
    font-size: 30px;
}

.logincaixa{
    width: fit-content;
    margin: 1rem auto;
}

.logincaixa button{
    background-color: #BB6363;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    color: white;
}

.logincaixa button:hover{
    background-color: #f5b6b9;
    cursor: pointer;
    scale: 1.1;
}

.registrarcaixa{
    margin: auto;
    display: flex;
}

#login{
    display: inline-block;
    border-radius: 20px;
    background-color: #BB6363;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px auto;
}