.prod0 h1{
    color: #bb6363;
    font-size: 50px;
    margin-left: 80px;
    margin: 20px;
    font-family: "Montserrat";
   
}


.prod0 img{
    width: 570px;
    height: 300px;
    margin: 20px;
    border-radius: 20px;
}


div h2{
    padding: 5px;
    font-family: "Montserrat";
    margin-left: 20px;
}


.tcc0{
    display: flex;
    width: 100%;
}

.tcc{
    display: flex;
    width: 100%;
}

@media(max-width: 760px){
    .tcc, .tcc0{
        width: 80%;
        flex-direction: column;
    }
    
    .prod0 img{
        margin: 5px;
    }
    .tcc img, .tcc0 img{
        width: 80%;
    }
    .tcc div, .tcc0 div{
        width: 100%;
    }
}