section h1{
    font-size: 70px;
    color: #BB6969;
}

section h2{
    padding: 30px;
    color: #f5b6b9;
}

div .caixa1{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    
}

div input{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    margin: 0px 0px 30px 0px;
}


.divtudo{
    display: flex;
    color: #BB6969;
}

.img1{
    width: 700px;
    height: 550px;
    margin: -170px 100px;
    border-radius: 20px;

}

.botao{
   margin-top: 90px;
}

.botao:hover{
background-color: #f5b6b9;
}