
.depoimentos{
    padding-top: 40px;
    display: flex;
    width: 900px;
    margin: auto;
    font-family: Montserrat;
    gap: 10px;

}

.depoimento img{
    width: 3rem;
    height: 3rem;
    margin: 0.5px;
}

.cliente{
    display: flex;
    margin-top: 10px;
    
}

.depoimento{
    border: 1px solid black;
    border-radius: 9px;
    padding: 10px;
    box-shadow: black 0px 4px 0px 0px;
    margin-top: 10px;
}

.cliente p{
    padding-left: 9px;
}

.texto h3{
    font-size: 35px;
    color: #BB6363;
    font-family: Montserrat;
}

.texto p{
    font-family: Montserrat;
    margin-bottom: 5px;
}

.texto button{
    background-color: #BB6363;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    color: white;
}

.texto button:hover{
    background-color: #f5b6b9;
    cursor: pointer;
    scale: 1.1;
}

@media(max-width: 760px){
    .depoimentos{
        width: 100%;
        margin: 5rem auto;
        flex-direction: column;
    }
    .texto button{
        width: 100%;
        font-size: 25px;
    }
}