.info{
    display: flex;
    margin-top: 30px;
    width: 900px;
    margin: 1rem auto;
    font-family: Montserrat;
}
.info h3{
    font-size: 50px;
    color: #BB6363;
}
.info p{
    width: 500px;
    margin: 10px;
}
.card{
    width: 400px;
    height: 300px;
    background-image: url(../../CONTEUDO/imagemsalao4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -320px;
    border-radius: 10px;
}

.info button{
    background-color: #BB6363;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    color: white;

}
.info button:hover{
    background-color: #f5b6b9;
    cursor: pointer;
}
.info a{
    text-decoration: none;
}

/* SERVIÇOS */

.serviços{
    display: flex;
    margin-top: 30px;
    width: 900px;
    margin: 1rem auto;
    font-family: Montserrat;
}

.serviços h3{
    font-size: 50px;
    color: #BB6363;
}
.serviços p{
    width: 500px;
    margin: 10px;
}

.serviços button{
    background-color: #BB6363;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    color: white;
}
.serviços button:hover{
    background-color: #f5b6b9;
    cursor: pointer;
}

.serviços a{
    text-decoration: none;
}
.card2{
    width: 400px;
    height: 300px;
    background-image: url(../../CONTEUDO/imagemsalao4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -320px;
    border-radius: 10px;
}
