.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; /* Reduzi o espaçamento interno do cabeçalho */
    position: fixed;
    background-color: white;
    width: 1200px;
}

.Titulo {
    display: flex;
    color: #bb6363;
    font-family: 'Brownsugar';
    align-items: center; /* Alinha verticalmente os itens */
}

.Titulo h3 {
    margin: 0; /* Removi a margem anterior para o h3 */
    font-size: 34px;
}

.Titulo img {
    max-width: 120px;
    height: auto;
    margin-right: 10px;
}

ul{
    font-family: "Montserrat";
}

#nav {
    margin-left: auto;
    
}

#menu {
    list-style: none;
    padding: 0;
    display: flex;
}

#menu li {
    margin-right: 15px; /* Reduzi o espaçamento entre os itens do menu */
}

#menu li a {
    color: #bb6363;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding: 15px 20px;
    position: relative;
    display: inline-block;
}

#menu li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #F57C64;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#menu li a:hover:after {
    width: 100%;
    left: 0;
}

#btn-mobile {
    display: none;
}

@media(max-width: 760px){
    /* CABEÇALHO RESPONSIVO */
    .cabeçalho{
        width: 100%;
        justify-content: space-between;
    }
    #nav{
        width: 0px;
    }
    #btn-mobile{
        font-family: 'Montserrat';
        margin: 5px;
        display: flex;
        gap: 10px;
        padding: .5rem 1rem;
        font-size: 1rem;
        height: 40px;
        border: none;
        background: none;
        cursor: pointer;
        margin: 32px;
    }

    #menu{
        display: block;
        position: absolute;
        width: 50%;
        top: 100px;
        height: 0px;
        transition: .6s;
        visibility: hidden;
        margin: 0;
        padding: 30px;
        background-color: white;
        overflow-y: hidden;
        
    }

    #nav.active #menu{
        visibility: visible;
        height: 30vh;
        display: table-column;
        justify-content: space-between;
        right: 0px;
        background-color: white;
    }

    #hamburguer{
        display: block;
        border-top: 2px solid black;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
    }

}

@media(max-width: 550px){
    .Titulo h3{
        font-size: 25px;
        margin: 1rem 2rem;
    }
    #btn-mobile{
        margin: 2rem 1rem;
    }
    .cabeçalho img {
        max-width: 100px;
        height: 80px;
        margin: 1rem;
    }
}